body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: sans-serif;
    padding: 20px;
}

header { text-align: center; margin-bottom: 20px; }

#grade-container, #optativas-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 15px;
}

.semestre {
    min-width: 250px;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 10px;
    flex-shrink: 0;
}

.materia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
    font-size: 0.65rem;
    font-weight: bold;
    color: #000;
}

.verde { background-color: #4ade80; }
.vermelho { background-color: #f87171; }
.amarelo { background-color: #facc15; }
.azul { background-color: #60a5fa; }
.laranja { background-color: #fb923c; }
.cinza { background-color: #94a3b8; }
.roxo { background-color: #c084fc; }
.branca { background-color: #ffffff; }

.concluida { opacity: 0.2; text-decoration: line-through; filter: grayscale(1); }
.materia:has(input:disabled) { opacity: 0.05; pointer-events: none; }

.divisor { border: 0; height: 1px; background: #30363d; margin: 30px 0; }
